/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  background-color: #fffcf5;
}

.header {
  padding: 30px 30px 10px 30px;
}
.header dialog {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: none;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
.header dialog form .input,
.header dialog form .multipleSelection {
  display: flex;
  gap: 10px;
  padding: 5px;
  font-weight: bold;
}
.header dialog form .btns {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 10px;
  padding-top: 5px;
}
.header dialog form .btns button {
  padding: 0 6px;
  background-color: #fff;
  border: solid 1px black;
  transition: transform 0.2s ease-in-out, padding 0.2s ease-in-out;
}
.header dialog form .btns button:hover {
  transform: scale(1.1);
  background-color: #fffcf5;
  font-weight: bold;
}
.header .btnDiv {
  display: flex;
  gap: 5px;
  padding-bottom: 15px;
}
.header .btnDiv button {
  cursor: pointer;
  border: none;
  background-color: #fffcf5;
  font-weight: bolder;
  font-size: 20px;
  transition: transform 0.2s ease-in-out, padding 0.2s ease-in-out;
}
.header .btnDiv button:active, .header .btnDiv button:hover {
  transform: scale(1.1);
  color: blue;
}

.showBooks {
  padding: 10px 30px 30px 30px;
  display: grid;
  grid-template-columns: repeat(5, minmax(1rem, 1fr));
  gap: 1rem;
}
.showBooks .book-card {
  height: 12rem;
  border: 1px solid black;
}
.showBooks .book-card .title {
  display: grid;
  place-items: center;
  padding: 5px 0;
  font-weight: bold;
}
.showBooks .book-card .info {
  font-weight: bold;
}
.showBooks .book-card p {
  padding: 0 10px;
}
.showBooks .book-card .ebtns {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
}
.showBooks .book-card .ebtns .deleteBtn,
.showBooks .book-card .ebtns .readBtn {
  border: none;
  background-color: #fffcf5;
  transition: transform 0.2s ease-in-out, padding 0.2s ease-in-out;
}
.showBooks .book-card .ebtns .deleteBtn:active, .showBooks .book-card .ebtns .deleteBtn:hover {
  transform: scale(1.1);
  color: red;
}
.showBooks .book-card .ebtns .readBtn:active, .showBooks .book-card .ebtns .readBtn:hover {
  transform: scale(1.1);
  color: green;
}
.showBooks .book-card:nth-of-type(1) .title {
  background-color: #f0abfc;
}
.showBooks .book-card:nth-of-type(2) .title {
  background-color: #fef08a;
}
.showBooks .book-card:nth-of-type(3) .title {
  background-color: #86efac;
}
.showBooks .book-card:nth-of-type(4) .title {
  background-color: #d8b4fe;
}
.showBooks .book-card:nth-of-type(5) .title {
  background-color: #93c5fd;
}
.showBooks .book-card:nth-of-type(6) .title {
  background-color: #2dd4bf;
}
.showBooks .book-card:nth-of-type(7) .title {
  background-color: #a8a29e;
}
.showBooks .book-card:nth-of-type(8) .title {
  background-color: #f0abfc;
}
.showBooks .book-card:nth-of-type(9) .title {
  background-color: #fef08a;
}
.showBooks .book-card:nth-of-type(10) .title {
  background-color: #86efac;
}
.showBooks .book-card:nth-of-type(11) .title {
  background-color: #d8b4fe;
}
.showBooks .book-card:nth-of-type(12) .title {
  background-color: #93c5fd;
}
.showBooks .book-card:nth-of-type(13) .title {
  background-color: #2dd4bf;
}
.showBooks .book-card:nth-of-type(14) .title {
  background-color: #a8a29e;
}
.showBooks .book-card:nth-of-type(15) .title {
  background-color: #f0abfc;
}
.showBooks .book-card:nth-of-type(16) .title {
  background-color: #fef08a;
}
.showBooks .book-card:nth-of-type(17) .title {
  background-color: #86efac;
}
.showBooks .book-card:nth-of-type(18) .title {
  background-color: #d8b4fe;
}
.showBooks .book-card:nth-of-type(19) .title {
  background-color: #93c5fd;
}
.showBooks .book-card:nth-of-type(20) .title {
  background-color: #2dd4bf;
}
.showBooks .book-card:nth-of-type(21) .title {
  background-color: #a8a29e;
}
.showBooks .book-card:nth-of-type(22) .title {
  background-color: #f0abfc;
}
.showBooks .book-card:nth-of-type(23) .title {
  background-color: #fef08a;
}
.showBooks .book-card:nth-of-type(24) .title {
  background-color: #86efac;
}
.showBooks .book-card:nth-of-type(25) .title {
  background-color: #d8b4fe;
}
.showBooks .book-card:nth-of-type(26) .title {
  background-color: #93c5fd;
}
.showBooks .book-card:nth-of-type(27) .title {
  background-color: #2dd4bf;
}
.showBooks .book-card:nth-of-type(28) .title {
  background-color: #a8a29e;
}
.showBooks .book-card:nth-of-type(29) .title {
  background-color: #f0abfc;
}
.showBooks .book-card:nth-of-type(30) .title {
  background-color: #fef08a;
}
.showBooks .book-card:nth-of-type(31) .title {
  background-color: #86efac;
}
.showBooks .book-card:nth-of-type(32) .title {
  background-color: #d8b4fe;
}
.showBooks .book-card:nth-of-type(33) .title {
  background-color: #93c5fd;
}
.showBooks .book-card:nth-of-type(34) .title {
  background-color: #2dd4bf;
}
.showBooks .book-card:nth-of-type(35) .title {
  background-color: #a8a29e;
}
.showBooks .book-card:nth-of-type(36) .title {
  background-color: #f0abfc;
}
.showBooks .book-card:nth-of-type(37) .title {
  background-color: #fef08a;
}
.showBooks .book-card:nth-of-type(38) .title {
  background-color: #86efac;
}
.showBooks .book-card:nth-of-type(39) .title {
  background-color: #d8b4fe;
}
.showBooks .book-card:nth-of-type(40) .title {
  background-color: #93c5fd;
}
.showBooks .book-card:nth-of-type(41) .title {
  background-color: #2dd4bf;
}
.showBooks .book-card:nth-of-type(42) .title {
  background-color: #a8a29e;
}
.showBooks .book-card:nth-of-type(43) .title {
  background-color: #f0abfc;
}
.showBooks .book-card:nth-of-type(44) .title {
  background-color: #fef08a;
}
.showBooks .book-card:nth-of-type(45) .title {
  background-color: #86efac;
}
.showBooks .book-card:nth-of-type(46) .title {
  background-color: #d8b4fe;
}
.showBooks .book-card:nth-of-type(47) .title {
  background-color: #93c5fd;
}
.showBooks .book-card:nth-of-type(48) .title {
  background-color: #2dd4bf;
}
.showBooks .book-card:nth-of-type(49) .title {
  background-color: #a8a29e;
}
.showBooks .book-card:nth-of-type(50) .title {
  background-color: #f0abfc;
}
.showBooks .book-card:nth-of-type(51) .title {
  background-color: #fef08a;
}
.showBooks .book-card:nth-of-type(52) .title {
  background-color: #86efac;
}
.showBooks .book-card:nth-of-type(53) .title {
  background-color: #d8b4fe;
}
.showBooks .book-card:nth-of-type(54) .title {
  background-color: #93c5fd;
}
.showBooks .book-card:nth-of-type(55) .title {
  background-color: #2dd4bf;
}
.showBooks .book-card:nth-of-type(56) .title {
  background-color: #a8a29e;
}
.showBooks .book-card:nth-of-type(57) .title {
  background-color: #f0abfc;
}
.showBooks .book-card:nth-of-type(58) .title {
  background-color: #fef08a;
}
.showBooks .book-card:nth-of-type(59) .title {
  background-color: #86efac;
}
.showBooks .book-card:nth-of-type(60) .title {
  background-color: #d8b4fe;
}
.showBooks .book-card:nth-of-type(61) .title {
  background-color: #93c5fd;
}
.showBooks .book-card:nth-of-type(62) .title {
  background-color: #2dd4bf;
}
.showBooks .book-card:nth-of-type(63) .title {
  background-color: #a8a29e;
}
.showBooks .book-card:nth-of-type(64) .title {
  background-color: #f0abfc;
}
.showBooks .book-card:nth-of-type(65) .title {
  background-color: #fef08a;
}
.showBooks .book-card:nth-of-type(66) .title {
  background-color: #86efac;
}
.showBooks .book-card:nth-of-type(67) .title {
  background-color: #d8b4fe;
}
.showBooks .book-card:nth-of-type(68) .title {
  background-color: #93c5fd;
}
.showBooks .book-card:nth-of-type(69) .title {
  background-color: #2dd4bf;
}
.showBooks .book-card:nth-of-type(70) .title {
  background-color: #a8a29e;
}
.showBooks .book-card:nth-of-type(71) .title {
  background-color: #f0abfc;
}
.showBooks .book-card:nth-of-type(72) .title {
  background-color: #fef08a;
}
.showBooks .book-card:nth-of-type(73) .title {
  background-color: #86efac;
}
.showBooks .book-card:nth-of-type(74) .title {
  background-color: #d8b4fe;
}
.showBooks .book-card:nth-of-type(75) .title {
  background-color: #93c5fd;
}
.showBooks .book-card:nth-of-type(76) .title {
  background-color: #2dd4bf;
}
.showBooks .book-card:nth-of-type(77) .title {
  background-color: #a8a29e;
}
.showBooks .book-card:nth-of-type(78) .title {
  background-color: #f0abfc;
}
.showBooks .book-card:nth-of-type(79) .title {
  background-color: #fef08a;
}
.showBooks .book-card:nth-of-type(80) .title {
  background-color: #86efac;
}
.showBooks .book-card:nth-of-type(81) .title {
  background-color: #d8b4fe;
}
.showBooks .book-card:nth-of-type(82) .title {
  background-color: #93c5fd;
}
.showBooks .book-card:nth-of-type(83) .title {
  background-color: #2dd4bf;
}
.showBooks .book-card:nth-of-type(84) .title {
  background-color: #a8a29e;
}
.showBooks .book-card:nth-of-type(85) .title {
  background-color: #f0abfc;
}
.showBooks .book-card:nth-of-type(86) .title {
  background-color: #fef08a;
}
.showBooks .book-card:nth-of-type(87) .title {
  background-color: #86efac;
}
.showBooks .book-card:nth-of-type(88) .title {
  background-color: #d8b4fe;
}
.showBooks .book-card:nth-of-type(89) .title {
  background-color: #93c5fd;
}
.showBooks .book-card:nth-of-type(90) .title {
  background-color: #2dd4bf;
}
.showBooks .book-card:nth-of-type(91) .title {
  background-color: #a8a29e;
}
.showBooks .book-card:nth-of-type(92) .title {
  background-color: #f0abfc;
}
.showBooks .book-card:nth-of-type(93) .title {
  background-color: #fef08a;
}
.showBooks .book-card:nth-of-type(94) .title {
  background-color: #86efac;
}
.showBooks .book-card:nth-of-type(95) .title {
  background-color: #d8b4fe;
}
.showBooks .book-card:nth-of-type(96) .title {
  background-color: #93c5fd;
}
.showBooks .book-card:nth-of-type(97) .title {
  background-color: #2dd4bf;
}
.showBooks .book-card:nth-of-type(98) .title {
  background-color: #a8a29e;
}
.showBooks .book-card:nth-of-type(99) .title {
  background-color: #f0abfc;
}
.showBooks .book-card:nth-of-type(100) .title {
  background-color: #fef08a;
}

footer {
  padding: 0 30px;
  position: fixed;
  bottom: 0;
  background-color: #fffcf5;
  width: 100%;
  text-align: center;
}/*# sourceMappingURL=main.css.map */